<div class="section">
	<div class="container">
	<div class="columns is-centered">

		<div class="column is-7 translucid">
			
      <p id="notice"><%= notice %></p>

      <p class="columns is-centered title is-5"> 
        <strong>Username:</strong>
        <%= @user.username %>
      </p>

      <p class="columns is-centered title is-5">
        <strong>Email:</strong>
        <%= @user.email %>
      </p>
      <div class="columns is-centered title is-5">
      <%= link_to 'Edit', edit_user_path(@user) %> 
      </div>
      
      <h2 class="columns is-centered has-text-black title is-3">Created Upcoming Events</h2>
      <table class="table is-bordered is-fullwidth">
        <thead>
          <tr class="table_color">
            <th class=" has-text-white">Name</th>
            <th class=" has-text-white">Date</th>
            <th class=" has-text-white">Location</th>
            <th class=" has-text-white">Description</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @user.user_comming_events.each do |event| %>
            <tr>
              <td><%= event.name %></td>
              <td><%= event.date %></td>
              <td><%= event.location %></td>
              <td><%= event.description %></td>
              <td><%= link_to 'Show', event %></td>
              <td><%= link_to 'Edit', edit_event_path(event) %></td>
              <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <h2 class="columns is-centered has-text-black title is-3">Created Previous Events</h2>
      <table class="table is-bordered is-fullwidth is-hoverable">
        <thead>
          <tr class="table_color">
            <th class=" has-text-white">Name</th>
            <th class=" has-text-white">Date</th>
            <th class=" has-text-white">Location</th>
            <th class=" has-text-white">Description</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @user.user_past_events.each do |event| %>
            <tr>
              <td><%= event.name %></td>
              <td><%= event.date %></td>
              <td><%= event.location %></td>
              <td><%= event.description %></td>
              <td><%= link_to 'Show', event %></td>
              <td><%= link_to 'Edit', edit_event_path(event) %></td>
              <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
		</div>
		</div>
	</div>
</div>