<div class="section">
	<div class="container">
	<div class="columns is-centered">

		<div class="column is-4">
			
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Username:</strong>
        <%= @user.username %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>
      <%= link_to 'Edit', edit_user_path(@user) %> |
      <%= link_to 'Back', users_path %>
      <h2 class="is-centered">Created Events</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Location</th>
            <th>Description</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @user.events.each do |event| %>
            <tr>
              <td><%= event.name %></td>
              <td><%= event.date %></td>
              <td><%= event.location %></td>
              <td><%= event.description %></td>
              <td><%= link_to 'Show', event %></td>
              <td><%= link_to 'Edit', edit_event_path(event) %></td>
              <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <h2 class="is-centered">Upcoming Events</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Location</th>
            <th>Description</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @user.events.upcoming_events.each do |event| %>
            <tr>
              <td><%= event.name %></td>
              <td><%= event.date %></td>
              <td><%= event.location %></td>
              <td><%= event.description %></td>
              <td><%= link_to 'Show', event %></td>
              <td><%= link_to 'Edit', edit_event_path(event) %></td>
              <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <h2 class="is-centered">Previous Events</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Location</th>
            <th>Description</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @user.events.previous_events.each do |event| %>
            <tr>
              <td><%= event.name %></td>
              <td><%= event.date %></td>
              <td><%= event.location %></td>
              <td><%= event.description %></td>
              <td><%= link_to 'Show', event %></td>
              <td><%= link_to 'Edit', edit_event_path(event) %></td>
              <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
		</div>
		</div>
	</div>
</div>